@media (min-width:0px) and (max-width: 320px) {
    .menu-toggle {
        display: block; /* Auf kleinen Bildschirmen anzeigen */
      }
      .main-ul {
        display: none; /* Standardmäßig ausgeblendet */
      }
    
      .menu-open .main-ul {
        display: block; /* Einblenden, wenn das Bürgermenü aktiviert ist */
        background-color: red;
      }
    .sectioneins {
        display: block;
    }
    .sectionzwei {
        display: block;  
    }
    .sectiondrei {
        display: block;
    }
    .child-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    button {
        margin: 20px;
    }
    h2 {
        margin-top: 20px;
        padding: 10px;
    }
    p {
        margin: 20px;
        padding: 10px;
    }
    .arrow-down {
        margin: 0;
        padding: 0;
    }
    footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer > a {
        margin: 20px;
    }
}